{% extends "base.html" %}
{% load static %}
{% block title %}Add Product{% endblock %}
{% block content %}
    <div class="company-container">
        <div class="grid-container">
            <div class="company-info full-width">
                <h2>{{ company.name }}</h2>
                <p><strong>URL:</strong> <a href="{{ company.url }}">{{ company.url }}</a></p>
                <p><strong>Email:</strong> {{ company.email }}</p>
                <p><strong>Bio:</strong> {{ company.bio }}</p>
            </div>
            <div class="users">
                <h2>Users</h2>
                <ul>
                    {% for user in users %}
                    <li>{{ user.firstname }} {{ user.lastname }} ({{ user.custom_username }})</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="products">
                <h2>Products</h2>
                <ul>
                    {% for product in products %}
                    <li>Product Name: {{product.name}}
                        <br>
                        Product URL: <a href="{{ product.url }}">{{ product.url }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="issues">
                <h2>Issues</h2>
                <p><strong>Total Issues Created:</strong> {{ issues_count }}</p>
                <h3>Status Counts:</h3>
<ul>
    {% for status_choice, status_name in status_choices.items %}
        <li>{{ status_name }}: 
            {% for status_count in status_counts %}
                {% if status_count.status == status_choice %}
                    {{ status_count.count }}
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>

<!-- Display tag counts -->
<h3>Tag Counts:</h3>
<ul>
    {% for tag_count in tag_counts %}
        <li>{{ tag_count.tags }}: {{ tag_count.count }}</li>
    {% endfor %}
</ul>
<h3>Issue names</h3>
                <ul>
                    {% for issue in issues %}
                    <li>{{ issue.issuename }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
