{% extends "base.html" %}
{% load static %}
{% block title %}Issues{% endblock %}
{% block content %}
<div class="issue-main">
    <div class="section-head">Issues</div>

    <!-- Filter Form -->
    <div class="filter-cont">
    <form method="get" action="" class="form">
        {{ filter_form.as_p }}
        <p>
        <button type="submit">Filter</button>
        </p>
    </form>
</div>

    <div class="issues">
        {% if user.company %}
        <a class="issue" href="{% url 'privateissues' %}">View Private Issues</a>
        {% endif %}

        {% for issue in data %}
        {% if issue.pinned %}
        <div class="issue" >
            <div class="issue-title">{{ issue.issuename }}</div>
            <div class="issue-desc">{{ issue.description }}</div>
            <div class="issue-spacing">
                
                <div><a  href="{% url 'addfeedback' issue.id %}">Give Feedback</a></div>
                <div><a  href="{% url 'addcomment' issue.id %}">Add comment</a></div>
                <div><a  href="{{ issue.id }}">View Issue</a></div>
                <div><a class="fancy" href="{% url 'changeissuestatus' issue.id %}">
                    <span class="top-key"></span>
                    <span class="text">Change Status</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a></div>
                <div> <p>Company Name:<a href="{% url 'companydetails' issue.company.id %}">{{issue.company}}</a></p></div>
        </div>
            <div class="issue-meta">
                <span class="meta-item">
                    <i class="fas fa-eye"></i> {{ issue.viewcount }}
                </span>
                <span class="meta-item">
                    <i class="fas fa-comments"></i> {{ issue.commentcount }}
                </span>
                <span class="meta-item">
                    <div class="feedback-stats">
                        <p>Option 1 Count: {{ issue.option1_count }}</p>
                        <p>Option 2 Count: {{ issue.option2_count }}</p>
                        <p>Option 3 Count: {{ issue.option3_count }}</p>
                        <p>Bool True Count: {{ issue.bool_true_count }}</p>
                        <p>Bool False Count: {{ issue.bool_false_count }}</p>
                    </div>
                </span>
                <span class="meta-item">
                    <h3>Status {{ issue.status }}</h1> 
                </span>                     
                <p>Created By:<a href="{% url 'getuser' issue.id %}">
                    {% if userid == issue.created_by.id  %}
                        <h4>{{user.username}}(Owner)</h4>
                    {% else %}
                        <h4 class="mb-1">{{issue.created_by.custom_username}}</h4>
                    {% endif %}
                </a></p>
                
            </span>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {% for issue in data %}
        {% if not issue.pinned %}
        <div class="issue" >
            <div class="issue-title">{{ issue.issuename }}</div>
            <div class="issue-desc">{{ issue.description }}</div>
            <div class="issue-spacing">
                
                <div><a  href="{% url 'addfeedback' issue.id %}">Give Feedback</a></div>
                <div><a  href="{% url 'addcomment' issue.id %}">Add comment</a></div>
                <div><a  href="{{ issue.id }}">View Issue</a></div>
                <div><a class="fancy" href="{% url 'changeissuestatus' issue.id %}">
                    <span class="top-key"></span>
                    <span class="text">Change Status</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a></div>
                <div> <p>Company Name:<a href="{% url 'companydetails' issue.company.id %}">{{issue.company}}</a></p></div>
        </div>
            <div class="issue-meta">
                <span class="meta-item">
                    <i class="fas fa-eye"></i> {{ issue.viewcount }}
                </span>
                <span class="meta-item">
                    <i class="fas fa-comments"></i> {{ issue.commentcount }}
                </span>
                <span class="meta-item">
                    <div class="feedback-stats">
                        <p>Option 1 Count: {{ issue.option1_count }}</p>
                        <p>Option 2 Count: {{ issue.option2_count }}</p>
                        <p>Option 3 Count: {{ issue.option3_count }}</p>
                        <p>Bool True Count: {{ issue.bool_true_count }}</p>
                        <p>Bool False Count: {{ issue.bool_false_count }}</p>
                    </div>
                </span>
                <span class="meta-item">
                    <h3>Status {{ issue.status }}</h1> 
                </span>                     
                <p>Created By:<a href="{% url 'getuser' issue.id %}">
                    {% if userid == issue.created_by.id  %}
                        <h4>{{user.username}}(Owner)</h4>
                    {% else %}
                        <h4 class="mb-1">{{issue.created_by.custom_username}}</h4>
                    {% endif %}
                </a></p>
                
            </span>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        
    </div>
</div>
{% endblock %}
