{% extends "base.html" %}
{% load static %}
{% block title %}Issues{% endblock %}
{% block content %}
<div class="display-main">
    <div class="filter-cont">
        <div class="showfilterbtnn">X</div>
        {% if usercompanyid %}
            <a class="private-issues-btn" href="{% url 'privateissues' %}">View Private Issues</a>
        {% endif %}
        {% if user.is_superuser %}
            <a class="private-issues-btn" href="{% url 'adminprivateissues' %}">View All Private Issues</a>
        {% endif %}
        <form method="get" action="" class="form">
            {{ filter_form.as_p }}
            <p>
                <button type="submit">Filter</button>
            </p>
        </form>
    </div>
    <div class="issue-main">
        <div class="section-head">Issues</div>
        <div class="showfilterbtn">Apply Filters</div>
        
        <div class="issues">
            {% for issue in page_obj %}
            {% if issue.pinned %}
            <div class="issue">
                <div class="pinned">Pinned</div>
                <div class="issue-title">{{ issue.issuename }} </div>
                <div class="issue-meta-details">
                    {% if userid == issue.created_by.id %}
                        <p><span>Created By:</span>  <a href="{% url 'getuser' issue.id %}">{{ user.username }}(Owner)</a></p>
                    {% else %}
                        <p><span>Created By:</span> <a href="{% url 'getuser' issue.id %}"> {{ issue.created_by.custom_username }}</a></p>
                    {% endif %}
                    <p>Created At:{{ issue.created_at}}</a></p>
                    <p><span>Company Name :</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.company }}</a></p>
                    <p><span>Company URL:</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.company.url }}</a></p>
                    <p><span>Product  Name:</span> <a href="{% url 'productstats' issue.product.id %}">{{ issue.product.name }}</a></p>
                    <p><span>Product URL :</span> <a href="{% url 'productstats' issue.product.id %}">{{ issue.product.url }}</a></p>
                    <p><span>Status:</span> {{ issue.status }}</p>
                </div>
                <div class="issue-desc">Description:{{ issue.description }}</div>
                <span class="meta-item">
                    <div class="feedback-stats">
                        <p>Option 1 : {{ issue.option1_count }}</p>
                        <p>Option 2 : {{ issue.option2_count }}</p>
                        <p>Option 3 : {{ issue.option3_count }}</p>
                        <p>Bool True : {{ issue.bool_true_count }}</p>
                        <p>Bool False : {{ issue.bool_false_count }}</p>
                    </div>
                </span>
                <div class="issue-meta">
                    <span class="meta-item">
                        <i class="fas fa-eye"></i> {{ issue.viewcount }}
                    </span>
                    <span class="meta-item">
                        <i class="fas fa-comments"></i> {{ issue.commentcount }}
                    </span>
                    <div class="issue-spacing">
                        
                        <div><a href="{% url 'addcomment' issue.id %}">Add comment</a></div>
                        <div><a href="{% url 'addfeedback' issue.id %}">Give Feedback</a></div>
                       
                        {% if issue.company.id == usercompanyid %}
                        <div><a href="{% url 'changeissuestatus' issue.id %}">Change Status</a></div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <a class="view-issue-btn" href="{{ issue.id }}">
                        <span class="text">View Issue</span>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% for issue in page_obj %}
            {% if not issue.pinned %}
            <div class="issue">
                <div class="issue-title">{{ issue.issuename }} </div>
                <div class="issue-meta-details">
                    {% if userid == issue.created_by.id %}
                        <p><span>Created By:</span>  <a href="{% url 'getuser' issue.id %}">{{ user.username }}(Owner)</a></p>
                    {% else %}
                        <p><span>Created By:</span> <a href="{% url 'getuser' issue.id %}"> {{ issue.created_by.custom_username }}</a></p>
                    {% endif %}
                    <p>Created At:{{ issue.created_at}}</a></p>

                    <p><span>Company Name :</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.company }}</a></p>
                    <p><span>Company :</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.company.url }}</a></p>
                    <p><span>Product  Name:</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.product.name }}</a></p>
                    <p><span>Product URL :</span> <a href="{% url 'companydetails' issue.company.id %}">{{ issue.product.url }}</a></p>
                    <p><span>Status:</span> {{ issue.status }}</p>
                </div>
                <div class="issue-desc">Description:{{ issue.description }}</div>
                <span class="meta-item">
                    <div class="feedback-stats">
                        <p>Option 1 : {{ issue.option1_count }}</p>
                        <p>Option 2 : {{ issue.option2_count }}</p>
                        <p>Option 3 : {{ issue.option3_count }}</p>
                        <p>Bool True : {{ issue.bool_true_count }}</p>
                        <p>Bool False : {{ issue.bool_false_count }}</p>
                    </div>
                </span>
                <div class="issue-meta">
                    <span class="meta-item">
                        <i class="fas fa-eye"></i> {{ issue.viewcount }}
                    </span>
                    <span class="meta-item">
                        <i class="fas fa-comments"></i> {{ issue.commentcount }}
                    </span>
                    <div class="issue-spacing">
                        <div><a href="{% url 'addcomment' issue.id %}">Add comment</a></div>
                        <div><a href="{% url 'addfeedback' issue.id %}">Give Feedback</a></div>
                       
                        {% if issue.company.id == usercompanyid %}
                        <div><a href="{% url 'changeissuestatus' issue.id %}">Change Status</a></div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <a class="view-issue-btn" href="{{ issue.id }}">
                        <span class="text">View Issue</span>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

<script>
    document.querySelector('.showfilterbtn').addEventListener('click', function() {
        var filterCont = document.querySelector('.filter-cont');
        if (filterCont.style.display === 'none' || filterCont.style.display === '') {
            filterCont.style.display = 'block';
        } else {
            filterCont.style.display = 'none';
        }
    });
    document.querySelector('.showfilterbtnn').addEventListener('click', function() {
        var filterCont = document.querySelector('.filter-cont');
        if (filterCont.style.display === 'none' || filterCont.style.display === '') {
            filterCont.style.display = 'block';
        } else {
            filterCont.style.display = 'none';
        }
    });
</script>
{% endblock %}
