<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Issue Details</h1>
        <div>{{issue.title}}</div>
        <div>
        <label>Description</label>
        <p>{{issue.description}}</p>
    </div>
    <div>
        <label>Created By</label>
        <h3>{{issue.created_by}}</h3>
    </div>
    <div>
        <label>Company Name</label>
        <p>{{issue.company}}</p>
    </div>
        <div>
    <label>Product Company</label>
        <p>{{issue.company}}</p>
    </div>
        <label>Tags</label>
        <p>{{issue.tags}}</p>

        
        <label>View Count</label>
        <p>{{issue.count}}</p>
        <label>Suggestion Count</label>
        <p>{{issue.suggestioncount}}</p>
        <label>Comment Count</label>
        <p>{{issue.commentcount}}</p>

</body>
</html>