{% load static %}

{% if not user.is_anonymous %}
<div class="header-main">
    <div class="header-flex">
	<a class="header-logo" href="{% url 'home' %}">
		<img
			src="{% static 'img/logo.png' %}"
			alt="Logo"
			width="30"
			height="30"
			style="border-radius: 10px"
			class="d-inline-block align-text-top" />
		Issue Tracker
	</a>
	<button class="mobile-toggler" onclick="toggleMenu()">
		Menu
	</button>
    
	<div class="header-menu hide-mobile">
		<ul class="header-btns">
			<li class="item {% if request.path == '/issues/' %}active{% endif %}">
				<a class="" href="{% url 'issues' %}">Issues</a>
			</li>
			<li class="item {% if request.path == '/addissue/' %}active{% endif %}">
				<a class="" href="/addissue/">Create New Issue</a>
			</li>
			<li class="item {% if request.path == '/support/' %}active{% endif %}">
				<a class="" href="{% url 'support' %}"> Contact </a>
			</li>
			<li class="item {% if request.path == '/hirings/' %}active{% endif %}">
				<a class="" href="{% url 'hirings' %}"> Hiring </a>
			</li>
			<li class="item {% if request.path == '/changepassword/' %}active{% endif %}">
				<a class="" href="{% url 'changepassword' %}"> Change Password </a>
			</li>
			<li class="item">
				<form method="post" action="{% url 'logout' %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-link">Logout</button>
				</form>
			</li>
			<li class="item">
				<a class="user-img" href="{% url 'getprofile' request.user.id %}">
					<img src="{{user.image.url}}" alt="{{user.username}}'s profile picture" />
					<p>{{user.username}}</p>
				</a>
			</li>
		</ul>
	</div>
    </div>
    <div class="header-menu" id="navbar">
            <ul class="header-btns">
                <li class="item {% if request.path == '/issues/' %}active{% endif %}">
                    <a class="" href="{% url 'issues' %}">Issues</a>
                </li>
                <li class="item {% if request.path == '/addissue/' %}active{% endif %}">
                    <a class="" href="/addissue/">Create New Issue</a>
                </li>
                <li class="item {% if request.path == '/support/' %}active{% endif %}">
                    <a class="" href="{% url 'support' %}"> Contact </a>
                </li>
                <li class="item {% if request.path == '/hirings/' %}active{% endif %}">
                    <a class="" href="{% url 'hirings' %}"> Hiring </a>
                </li>
                <li class="item">
                    <form method="post" action="{% url 'changepassword' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">Change Password</button>
                    </form>
                </li>
                <li class="item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">Logout</button>
                    </form>
                </li>
                <li class="item">
                    <a class="user-img" href="{% url 'getprofile' request.user.id %}">
                        <img src="{{user.image.url}}" alt="{{user.username}}'s profile picture" />
                        <p>{{user.username}}</p>
                    </a>
                </li>
            </ul>
    </div>
</div>
{% else %}
{% load static %}
<div class="header-main">
    <div class="header-flex">
	<a class="header-logo" href="{% url 'home' %}">
		<img
			src="{% static 'img/logo.png' %}"
			alt="Logo"
			width="30"
			height="30"
			style="border-radius: 10px"
			class="d-inline-block align-text-top" />
		Issue Tracker
	</a>
	<button class="mobile-toggler" onclick="toggleMenu()">
		Menu
	</button>
    
	<div class="header-menu hide-mobile">
		<ul class="header-btns">
			<li class="item {% if request.path == '/issues/' %}active{% endif %}">
				<a class="" href="{% url 'issues' %}">Issues</a>
			</li>
			<li class="item {% if request.path == '/support/' %}active{% endif %}">
				<a class="" href="{% url 'support' %}"> Contact </a>
			</li>
			<li class="item {% if request.path == '/hirings/' %}active{% endif %}">
				<a class="" href="{% url 'hirings' %}"> Hiring </a>
			</li>
			<li class="item">
                    <a class="" href="{% url 'login' %}"> Login </a>
            </li>
			<li class="item">
                </li>
				<li class="item">
                </li>
		</ul>
	</div>
    </div>
    <div class="header-menu" id="navbar">
            <ul class="header-btns">
                <li class="item {% if request.path == '/issues/' %}active{% endif %}">
                    <a class="" href="{% url 'issues' %}">Issues</a>
                </li>
                <li class="item {% if request.path == '/support/' %}active{% endif %}">
                    <a class="" href="{% url 'support' %}"> Contact </a>
                </li>
                <li class="item {% if request.path == '/hirings/' %}active{% endif %}">
                    <a class="" href="{% url 'hirings' %}"> Hiring </a>
                </li>
                <li class="item">
                    <a class="" href="{% url 'login' %}"> Login </a>
                </li>
				<li class="item">
                </li>
				<li class="item">
                </li>
            </ul>
    </div>
</div>

{% endif %}
<script>
function toggleMenu() {
	var navbar = document.getElementById('navbar');
	if (navbar.classList.contains('show')) {
		navbar.classList.remove('show');
	} else {
		navbar.classList.add('show');
	}
}
</script>
