{% extends "base.html" %}
{% load static %}

{% block title %}Hirings{% endblock %}

{% block content %}
<div class="hiring-list-main">
  
   {% if not page_obj %}
   <div class="no-data">
        <div>No Data</div>
        <a href="{% url 'hiring' %}">Fill a form for Hiring</a>
   </div>
{% else %}
    <div class="hiring-list-head">
    <a class="fill-form-link" href="{% url 'hiring' %}">Fill a form for Hiring</a>
  </div>
<ul class="hiring-list">
   
    {% for request in page_obj %}
    <div class="hiring-item">
        {% if request.pinned %}
        <span class="pinned">Pinned</span>
        {% endif %}
        <li class="hiring-name">Name: {{ request.name }} - {{ request.created_at }}</li>
        <div class="meta-info">
          <p class="hiring-description"><span>Description:</span> {{ request.description }}</p>
          <p class="hiring-description"><span>Created By:</span> {{ request.user }}</p>
          <p class="hiring-url"><span>URL:</span> {{ request.url }}</p>
          <p class="hiring-options"><span>Option:</span> {{ request.options }}</p>
        </div>
        <p class="hiring-comment-title">Comments <a class="add-hiring-comment-link" href="{% url 'addhiringcomment' request.id %}">+</a></p>
        <div class="hiring-comments">
            {% for comment in comments %}
            {% if request.id == comment.hiring.id %}
            {%if comment.pinned %}
            <p class="comment-description">{{ comment.description }}Pinned</p>
            {% else %}
            <p class="comment-description">{{ comment.description }}</p>
            {% endif %}
            <a   href="{% url 'reporthiringcomment' comment.id %}">
                        
                <span class="top-key"></span>
                <span class="text">Report Comment</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
        </a>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
</div>
{% endblock %}
