{% extends "base.html" %}

{% block content %}
  <div class="issue-status-logs">
    <h2 class="title">Issue Status Logs</h2>
    <div class="log-list">
      {% for log in logs %}
        <div class="log-card">
          <div class="log-card-header">
            <h5 class="log-card-title">Issue by: {{ log.issue.created_by.username }}</h5>
            <h6 class="log-card-subtitle">Modified by: {{ log.user.username }}</h6>
          </div>
          <div class="log-card-body">
            <p class="log-card-text">
              <strong>Timestamp:</strong> {{ log.timestamp }}<br>
              <strong>Old Status:</strong> {{ log.oldstatus }}<br>
              <strong>New Status:</strong> {{ log.newstatus }}<br>
            </p>
            <p class="log-card-entry">{{ log.log_entry }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
