{% extends "base.html" %}
{% load static %}
{% block title %}Add Product{% endblock %}
{% block content %}
    <div id="terms">
        <h2>Terms and Conditions</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus
            neque. Proin nec commodo arcu. Nullam fringilla lacinia diam, vel
            ultrices mauris consectetur at. Quisque sit amet ligula eget felis
            vestibulum pharetra. Donec vel fringilla ligula. Sed ut placerat sapien.
            Nam volutpat lacus eu velit dignissim, ut consectetur leo efficitur. Sed
            eu dapibus lorem. Phasellus sit amet elit sed magna dictum volutpat.
        </p>
        <button id="acceptTerms">Accept Terms</button>
    </div>

    <!-- Issue Form (Initially Hidden) -->
    <div id="issueForm" style="display: none">
        <div class="issue-form-container">
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.issuename.label_tag }}
                    {{ form.issuename }}
                    {% if form.issuename.errors %}
                        <div class="error">{{ form.issuename.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="error">{{ form.description.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.company.label_tag }}
                    {{ form.company }}
                    {% if form.company.errors %}
                        <div class="error">{{ form.company.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group" id="div_id_company_name" style="display: none;">
                    {{ form.company_name.label_tag }}
                    {{ form.company_name }}
                    {% if form.company_name.errors %}
                        <div class="error">{{ form.company_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group" id="div_id_company_url" style="display: none;">
                    {{ form.company_url.label_tag }}
                    {{ form.company_url }}
                    {% if form.company_url.errors %}
                        <div class="error">{{ form.company_url.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group" id="div_id_company_email" style="display: none;">
                    {{ form.company_email.label_tag }}
                    {{ form.company_email }}
                    {% if form.company_email.errors %}
                        <div class="error">{{ form.company_email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group" id="div_id_company_bio" style="display: none;">
                    {{ form.company_bio.label_tag }}
                    {{ form.company_bio }}
                    {% if form.company_bio.errors %}
                        <div class="error">{{ form.company_bio.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group" id="div_id_company_pic" style="display: none;">
                    {{ form.company_pic.label_tag }}
                    {{ form.company_pic }}
                    {% if form.company_pic.errors %}
                        <div class="error">{{ form.company_pic.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group" id="div_id_product" style="display: none;">
                    {{ form.product.label_tag }}
                    {{ form.product }}
                    {% if form.product.errors %}
                        <div class="error">{{ form.product.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group" id="div_id_product_name" style="display: none;">
                    {{ form.product_name.label_tag }}
                    {{ form.product_name }}
                    {% if form.product_name.errors %}
                        <div class="error">{{ form.product_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group" id="div_id_product_url" style="display: none;">
                    {{ form.product_url.label_tag }}
                    {{ form.product_url }}
                    {% if form.product_url.errors %}
                        <div class="error">{{ form.product_url.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.tags.label_tag }}
                    {{ form.tags }}
                    {% if form.tags.errors %}
                        <div class="error">{{ form.tags.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            function toggleFieldVisibility() {
                var companySelected = $("#id_company").val() !== "";
                var productSelected = $("#id_product").val() !== "";

                if (!companySelected) {
                    $("#div_id_company_name").show();
                    $("#div_id_company_url").show();
                    $("#div_id_company_email").show();
                    $("#div_id_company_bio").show();
                    $("#div_id_company_pic").show();
                    $("#div_id_product").hide();
                    $("#div_id_product_name").hide();
                    $("#div_id_product_url").hide();
                } else {
                    $("#div_id_company_name").hide();
                    $("#div_id_company_url").hide();
                    $("#div_id_company_email").hide();
                    $("#div_id_company_bio").hide();
                    $("#div_id_company_pic").hide();

                    $("#div_id_product").show();
                    if (!productSelected) {
                        $("#div_id_product_name").show();
                        $("#div_id_product_url").show();
                    } else {
                        $("#div_id_product_name").hide();
                        $("#div_id_product_url").hide();
                    }
                }
            }

            $("#id_company").change(function () {
                var url = "{% url 'load_products' %}";
                var companyId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        company_id: companyId,
                    },
                    success: function (data) {
                        $("#id_product").html("");
                        $("#id_product").append('<option value="">---------</option>');
                        if (data.length > 0) {
                            $.each(data, function (key, value) {
                                $("#id_product").append(
                                    '<option value="' +
                                    value.id +
                                    '">' +
                                    value.name +
                                    "</option>"
                                );
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('Error loading products:', textStatus, errorThrown);
                    }
                });
                toggleFieldVisibility();
            });

            $("#id_product").change(function () {
                toggleFieldVisibility();
            });

            function toggleIssueForm(visible) {
                if (visible) {
                    $("#issueForm").show();
                } else {
                    $("#issueForm").hide();
                }
            }

            toggleIssueForm(false);

            $("#acceptTerms").click(function () {
                toggleIssueForm(true);
                $("#terms").hide();
            });

            toggleFieldVisibility();
        });
    </script>
{% endblock %}
