{% extends "base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}


{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
            <img src="{{ userr.image.url }}" alt="{{ userr.custom_username }}">
        </div>
        <div class="profile-info">
            <h1>{{ userr.custom_username }}</h1>
            <h4>First Name : {{ userr.firstname }}</h4>
            <h4>Last Name : {{ userr.lastname }}</h4>
            <p class="bio">{{ userr.bio }}</p>
            <div class="profile-stats">
                <div class="stat">
                    
                    <strong>{{ issues_count }}</strong>
                    <span><i class="fas fa-bug"></i> Issues Created</span>
                </div>
                <div class="stat">
                    
                    <strong>{{ feedbacks_given }}</strong>
                    <span><i class="fas fa-lightbulb"></i> Feedbacks Given</span>
                </div>
                <div class="stat">
                   
                    <strong>{{ comments_created }}</strong>
                    <span> <i class="fas fa-comments"></i> Comments Created</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tags-section">
        <h2>List of Tags Created</h2>
        <div class="tags">
            {% for tag in tags %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
