{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="profile">
        <div class="profile-info">
            <img src="{{ user.image.url }}" alt="{{ user.custom_username }}">
            <h2>{{ user.custom_username }}</h2>
            <p><span>First Name:</span>{{ user.firstname }} </p>
            <p><span>Last  Name:</span>{{ user.lastname }}</p>
            <p><span>Email     :</span> {{ user.email }}</p>
            {% if company %}
            {% if user.company %}
            <p><span>Company Name:</span><a href="{% url 'companydetails' companyid %}">{{user.company}}</a></p>
            {% endif %}
            {% if user.company.url %}
            <p><span>Company URL: </span>{{ user.company.url }}</p>
            {% endif %}
            {% if user.company.bio %}
            <p><span>Company Bio:</span> {{ user.company.bio }}</p>
            {% endif %}
            {% endif %}
        </div>
        <div class="stats">
            <div class="stat">
                <i class="fas fa-bug"></i>
                <h3>{{ issues_count }}</h3>
                <p>Issues Created</p>
            </div>
            <!--<div class="stat">-->
            <!--    <i class="fas fa-lightbulb"></i>-->
            <!--    <h3>{{feedback_count }}</h3>-->
            <!--    <p>Feedback Count</p>-->
            <!--</div>-->
            <!--<div class="stat">-->
            <!--    <i class="fas fa-comments"></i>-->
            <!--    <h3>{{ comment_count }}</h3>-->
            <!--    <p>Comments Count</p>-->
            <!--</div>-->
            <!--<div class="stat">-->
            <!--    <i class="fas fa-eye"></i>-->
            <!--    <h3>{{ view_count }}</h3>-->
            <!--    <p>Views Count</p>-->
            <!--</div>-->
        </div>
    </div>
{% endblock %}